In [1]:
x = 5

In [2]:
print(x)

5

In [3]:
x += 2

In [4]:
print(x)

7

In [5]:
x = 3 
evaluate = 'x*(x+1)*(x+2)'
print(evaluate)

x*(x+1)*(x+2)

In [6]:
print(type(evaluate))

<class 'str'>

In [7]:
print(type(x))

<class 'int'>

In [8]:
expression = eval(evaluate)
print(expression)

60

In [9]:
print(type(expression))

<class 'int'>

In [10]:
# left-right associativity
#output : 3 
print(5*2//3)

3

In [11]:
#shows left-right associativity
#output=0
print(5*(2//3))

0

In [12]:
#shows the right-left associativity of **
#output : 512, since 2**(3**2) = 2**9
print(2**3**2)

512

In [13]:
#if 2 needs to be ex
print((2**3)**2)

64

In [14]:
print("enter age")
a = int(input())
if a>18:
    print("can vote")

enter age
18

In [23]:
print("enter age")
a = int(input())
if a>18:
    print("can vote")
elif a<18 :
    print("under age")
elif a==18:
    print("same age")

enter age
18
same age

In [25]:
print("enter age")
a = int(input())
if  a>18 :
    print("can vaote")
else :
    print("cannot vote")

enter age
18
cannot vote

In [26]:
a = 200
b = 33
c = 500
if a>b and C<a :
    print("both conditions are True")

NameError: name 'C' is not defined

In [29]:
a=200
b=33
c=500
if a>b and c>a:
    print("both conditions are True")

both conditions are True

In [31]:
a=200
b=33
c=500
if a>b and c>a:
else:
    print("false")

IndentationError: expected an indented block after 'if' statement on line 4 (1964367631.py, line 5)

In [32]:
a=200
b=33
c=500
if a>b and c<a:
    print("both conditions are True")
else:
    print("false")

false

In [33]:
a=200
b=33
c=500
if a>b or c<a:
    print("True")
else:
    print("false")

True

In [38]:
x=9
if x>10:
    print("above ten,")
    if x>20:
        print("but also above 20!")
else:
    print("but not above 20.")

but not above 20.

In [ ]:
x = input("input your name ")
eng = float(input("input your english subject no :"))
beng = float(input("input your benglai subject no :"))
sci = float ((input("input your science subject no :"))
math = float(input("input your math subject no :")
so_sci = float(input("input your social science subject no :"))
totaL_marks =eng+beng+sci+math+so_sci
perc=(total_marks /5 )*100
if perc>90 and perc<100:
             print('a+')

In [ ]:
x = input("input your name ")
eng = float(input("input your english subject no :"))
beng = float(input("input your benglai subject no :"))
sci = float ((input("input your science subject no :"))
math = float(input("input your math subject no :")
so_sci = float(input("input your social science subject no :"))
totaL_marks =eng+beng+sci+math+so_sci
perc=(total_marks /5 )*100
if perc>90 and perc<100:
             print('a+')

In [ ]:
#taking student name
x = input("input your name ")
#taking student subject number
eng = float(input("input your english subject no :"))
beng = float(input("input your benglai subject no :"))
sci = float ((input("input your science subject no :"))
math = float(input("input your math subject no :")
so_sci = float(input("input your social science subject no :"))
#calculate total marks         
totaL_marks =eng+beng+sci+math+so_sci
#calculate percentage             
perc=(total_marks /5 )*100
             
if perc>90 and perc<100:
             print("A+")

In [13]:
#taking student name
x = input("input your name")
#taking student subject number
eng = float(input("input your english subject no :"))
ben = float(input("input your bengali subject no :"))
sci = float(input("input your science subject no :"))
math = float(input("input your math subject no :"))
s_sci = float(input("input your social science subject no :"))
#calculate total marks
total_marks = eng + ben + sci + math + s_sci
#calculate percentage
per = (total_marks / 500)*100
if per>90 and per<100 : 
    print( x+" total marks " + str( total_marks ) + " percentage "+str( per )+" grade is "+ "A+" )
elif per>80 and per<89 :
    print( x+" total marks " + str( total_marks ) + " percentage "+str( per )+" grade is "+"A" )
elif per>70 and  per<79 :
    print( x+" total marks " + str( total_marks ) + " percentage "+str( per )+" grade is "+"B" )
elif per>60 and per<69 :
    print( x+" total marks " + str( total_marks ) + " percentage "+str( per )+" grade is "+"c" )
elif per<59 :
    print( x+" total marks " + str( total_marks ) + " percentage "+str( per )+" grade is "+"FAIL" )

input your nameAnand
input your english subject no :90
input your bengali subject no :98
input your science subject no :99
input your math subject no :97
input your social science subject no :96
Anand total marks 480.0 percentage 96.0 grade is A+

In [ ]:
print(per)

In [3]:
print(total_marks)

253.0

In [22]:
# leap year or not 
x = int(input("nummber of years"))
# taking formula first we divied with 4 
x = (x/4)
print(x)
#then we check with 100
y = (x/100)
print(y)
# then we check with 400
z = (x/400)
print(z)
#we dont

nummber of years1900
475.0
4.75
1.1875

In [24]:
x=int(input("input year"))
if x%4==0 and x%400==0:
    print("leap year")
else:
    print("not a leap year")

input year1900
not a leap year

In [27]:
nu=(1,2,3,4,5,6,7,8,9,)   #tuple of number
fnnum=frozenset(nu)       #converting tuple to frozenset
print("frozenset object is : ", fnnum)    # printing details

frozenset object is :  frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [29]:
dog = {"name":"jax","age":17}
print(dog)

{'name': 'jax', 'age': 17}

In [31]:
dog={'name':'jax','age':15,'color':'brown'}

In [32]:
print(dog)

{'name': 'jax', 'age': 15, 'color': 'brown'}

In [33]:
dog['weight']=90
print(dog)

{'name': 'jax', 'age': 15, 'color': 'brown', 'weight': 90}

In [34]:
dog['age']=20
print(dog)

{'name': 'jax', 'age': 20, 'color': 'brown', 'weight': 90}

In [35]:
print(len(dog))

4

In [36]:
print(dog.keys())

dict_keys(['name', 'age', 'color', 'weight'])

In [37]:
print(dog.values())

dict_values(['jax', 20, 'brown', 90])

In [40]:
print(dog.items())

dict_items([('name', 'jax'), ('age', 20), ('color', 'brown'), ('weight', 90)])

In [46]:
dog = {'name':'jax','age':15,'color':'Brown','height':6,'weight':90}
print(dog)

{'name': 'jax', 'age': 15, 'color': 'Brown', 'height': 6, 'weight': 90}

In [47]:
dog.pop('color')

'Brown'

In [48]:
print(dog)

{'name': 'jax', 'age': 15, 'height': 6, 'weight': 90}

In [49]:
dog.popitem()

('weight', 90)

In [50]:
print(dog)

{'name': 'jax', 'age': 15, 'height': 6}

In [53]:
del dog['age']

KeyError: 'age'

In [54]:
print(dog)

{'name': 'jax', 'height': 6}

In [55]:
dog.clear()

In [56]:
print(dog)

{}

In [1]:
x=[1,2,3,4,5]

In [58]:
print(x[0])

1

In [59]:
print(x[1])

2

In [60]:
print(x[2])

3

In [4]:
for i in range(len(x)):
    print(x[i])

1
2
3
4
5

In [5]:
for i in range(10)

SyntaxError: expected ':' (3416090220.py, line 1)

In [6]:
print("ipcs")

ipcs

In [9]:
for i in range(10):
    print("ipcs")

ipcs
ipcs
ipcs
ipcs
ipcs
ipcs
ipcs
ipcs
ipcs
ipcs

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
for i in range(50,5,-5):
    print(i)

50
45
40
35
30
25
20
15
10

In [14]:
fruits = ['apple','banana','cheerry']

for i in fruits :
    print(i)

apple
banana
cheerry